.item{
	background:#f9f9f9;
	border:1px solid #f9f9f9;
	margin-bottom:1.4rem;
}

.item__message{
	color:#777777;
}


.item--desc{
	font-style: italic;
	font-weight:300;
	color:#5b4681;
	font-size:1.4rem;
	padding: 1.2rem 0;
}